@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');
@font-face {
    font-family: 'Technology';
    src: url('assets/technology.ttf');
}



.wrapper {
    display: none;
    user-select: none;
}

.container {
    display: flex;
    align-items: flex-end;
    position: fixed;
    height: 100%;
    right: 2rem;
    bottom: 0;
}

.radio-image {
    height: 50%;
}



/* #region input */
.channel-input {
    position: absolute;
    width: 48%;
    height: 7.1%;
    right: 27.9%;
    bottom: 13.7%;
}

.channel-input input {
    height: 100%;
    width: 90%;
    padding: 0;
    outline: none;
    border: none;
    padding-left: 10%;

    appearance: none;
    background: #8b9c60;
    border-radius: 5px;
    color: #21381e;
    font-family: 'Technology';
    font-size: 3vh;
}

.channel-input input::placeholder {
    color: #557010;
}

.channel-input input::-webkit-outer-spin-button,
.channel-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* #endregion */



/* #region action buttons */
.button {
    position: absolute;
    cursor: pointer;
}

/* top row */
#join {
    padding: 13%;
    right: 68%;
    bottom: 30%;
}

#preset_set {
    padding: 7% 12%;
    right: 39.8%;
    bottom: 29%;
}

/* 1st column */
#leave {
    padding: 9%;
    right: 63%;
    bottom: 6.8%;
}

#volume_mute {
    padding: 9%;
    right: 63%;
    bottom: 2.8%;
}

/* 2nd column */
#volume_up {
    padding: 9%;
    right: 44%;
    bottom: 6.8%;
}

#volume_down {
    padding: 9%;
    right: 44%;
    bottom: 2.8%;
}

/* 3rd buttons */
#preset_one {
    padding: 9%;
    right: 25%;
    bottom: 6.8%;
}

#preset_two {
    padding: 9%;
    right: 25%;
    bottom: 2.8%;
}
/* #endregion */



/* #region button tooltips */
.button:before {
    position: absolute;
    content: attr(tooltip);
    opacity: 0;

    transition: all .3s;
    padding: 10%;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    color: #2d2427;
    white-space: nowrap;
}

.button:hover:before {
    opacity: 1;
    background: #eee;
}

[tooltip]:not([dummy]):before {
    pointer-events: none;
}
/* #endregion */
